<header
  class="flex flex-row"
  style="min-width: var(--min-window-w); height: var(--header-h)"
>
  <!-- ProjectHub Logo  -->
  <div
    class="pl-2 py-4 flex flex-row items-center"
    style="width: var(--left-col-w); background-color: var(--pri-color)"
  >
    <%- include('./_partial/header/logo'); %>
  </div>

  <!-- Progress bar  -->
  <div class="flex-1 flex flex-col" style="background-color: var(--sec-color)">
    <%- include('./_partial/header/progressbar'); %>
  </div>

  <!-- Account  -->
  <div
    class="flex flex-col justify-center"
    style="width: var(--right-col-w); background-color: var(--sec-color)"
  >
    <%- include('./_partial/header/account'); %>
  </div>
</header>

<main
  class="flex flex-row"
  style="min-width: var(--min-window-w); height: calc(100vh - var(--header-h))"
>
  <!-- Navigation bar  -->
  <div
    class="px-2 py-5 overflow-y-auto"
    style="width: var(--left-col-w); background-color: var(--pri-color)"
  >
    <%- include('./_partial/leftBar/navigation'); %>
  </div>

  <!-- Dynamic widgets  -->
  <div
    class="overflow-y-auto flex-1"
    style="background-color: var(--sec-color)"
  >
    <%- include('./_partial/centerBar/dynamic'); %>
  </div>

  <!-- Static widgets  -->
  <div
    class="flex flex-row"
    style="width: var(--right-col-w); background-color: var(--sec-color)"
  >
    <%- include('./_partial/rightBar/static'); %>
  </div>
</main>
