<div class="border-l border-gray-300 my-5"></div>
<div class="p-5 flex flex-col w-full overflow-y-auto">

  <!-- Project members  -->
  <div class="bg-white rounded-sm px-4 py-3 w-full drop-shadow-sm flex flex-col">
    <h2 class="text-xl font-medium pb-2">Project members</h2>
    <div class="flex flex-row">
      <%- include('./_partial/member', { name:'Aavild' }); %>
        <%- include('./_partial/member', { name:'Aleksander' }); %>
    </div>
    <div class="flex flex-row">
      <%- include('./_partial/member', { name:'Jakob' }); %>
        <%- include('./_partial/member', { name:'Mike' }); %>
    </div>
    <div class="flex flex-row">
      <%- include('./_partial/member', { name:'Erik' }); %>
        <%- include('./_partial/member', { name:'Rasmus' }); %>
    </div>
    <div class="flex flex-row">
      <%- include('./_partial/member', { name:'William' }); %>
    </div>
  </div>

  <!-- Chat/Calender  -->
  <div class="bg-white my-8 px-4 py-3 rounded-sm w-full drop-shadow-sm">
    <div>Test test TEST 123 abc !"#¤%&/()=</div>
  </div>
</div>