<div class="border-l border-gray-400 my-5"></div>
<div class="p-5 flex flex-col w-full overflow-y-auto">

  <!-- Project members  -->
  <div class="bg-white rounded-sm px-4 pt-3 w-full h-1/4 drop-shadow-sm flex flex-col">
    <h2 class="text-xl font-medium pb-2">Project members</h2>
    <div class="flex flex-row">
      <%- include('./_partial/member', { name:'Aavild' }); %>
        <%- include('./_partial/member', { name:'Aleksander' }); %>
    </div>
    <div class="flex flex-row">
      <%- include('./_partial/member', { name:'Jakob' }); %>
        <%- include('./_partial/member', { name:'Mike' }); %>
    </div>
    <div class="flex flex-row">
      <%- include('./_partial/member', { name:'Erik' }); %>
        <%- include('./_partial/member', { name:'Rasmus' }); %>
    </div>
    <div class="flex flex-row">
      <%- include('./_partial/member', { name:'William' }); %>
    </div>
  </div>

  <!-- Chat/Calender  -->
  <div class="bg-white my-8 rounded-sm w-full h-2/4 drop-shadow-sm">
    <div class="px-4 pt-3">Test test TEST 123 abc !"#¤%&/()=</div>
  </div>
</div>