<div id="dynamic" class="p-5 w-full flex flex-col overflow-y-auto">
    <%- include('./categories/communication/communicationWidget'); %>
    <%- include('./categories/planning/planningWidget'); %>
    <%- include('./categories/writing/writingWidget'); %>
    <%- include('./categories/versionControl/versionControlWidget'); %>
    <%- include('./categories/umlTools/umlToolsWidget'); %>
    <%- include('./categories/fileSharing/fileSharingWidget'); %>
</div>

<script src="/scripts/dynamic.js"></script>