<form action="/create-project" method="get" class="flex justify-end w-4/5 m-auto pt-3.5">
    <input type="submit" value="Create Project" class="bg-slate-400 p-5 rounded cursor-pointer drop-shadow-md hover:bg-slate-700 hover:text-white">
</form>
<form action="/logout" method="post" class="flex justify-end w-4/5 m-auto pt-3.5">
    <input type="submit" value="logout" class="bg-slate-400 p-5 rounded cursor-pointer drop-shadow-md hover:bg-slate-700 hover:text-white">
</form>

<table class="w-4/5 m-auto drop-shadow-md pt-3.5">
    <tr class="bg-slate-500">
        <th class="text-left p-5 text-white">Project name</th>
        <th class="text-left p-5 text-white">Actions</th>
    </tr>
        <% let i = 0; %>
        <% projects.forEach((project) => { %>
            <% if (i % 2 === 0) { %>
            <tr class="bg-slate-300 rounded-md hover:bg-slate-400">
                <td class="projectName w-full py-2 pl-2">
                    <%= project.name %>
                </td>
                <td class="flex py-2">
                    <form action="/project" method="get" class="mx-2">
                        <input type="hidden" name="projectId" value="<%= project.id %>">
                        <input type="submit" value="View" class="bg-slate-400 p-2 rounded cursor-pointer drop-shadow-md hover:bg-slate-700 hover:text-white">
                    </form>
                    <form action="/edit" method="get" class="mx-2 editBtn">
                        <input type="hidden" name="projectId" value="<%= project.id %>">
                        <input type="submit" value="Edit" class="bg-yellow-400 p-2 rounded cursor-pointer drop-shadow-md hover:bg-yellow-700 hover:text-white">
                    </form>
                    <form action="/projects" method="post" class="mx-2">
                        <input type="hidden" name="projectId" value="<%= project.id %>">
                        <input type="submit" value="Delete" class="bg-red-400 p-2 rounded cursor-pointer drop-shadow-md hover:bg-red-700 hover:text-white">
                    </form>
                </td>
            </tr>
            <% } else { %>
            <tr class="bg-slate-200 rounded-md hover:bg-slate-400">
                <td class="projectName w-full py-2 pl-2">
                    <%= project.name %>
                </td>
                <td class="flex py-2">
                    <form action="/project" method="get" class="mx-2">
                        <input type="hidden" name="projectId" value="<%= project.id %>">
                        <input type="submit" value="View" class="bg-slate-400 p-2 rounded cursor-pointer drop-shadow-md hover:bg-slate-700 hover:text-white">
                    </form>
                    <form action="/edit" method="get" class="mx-2 editBtn">
                        <input type="hidden" name="projectId" value="<%= project.id %>">
                        <input type="submit" value="Edit" class="bg-yellow-400 p-2 rounded cursor-pointer drop-shadow-md hover:bg-yellow-700 hover:text-white">
                    </form>
                    <form action="/projects" method="post" class="mx-2">
                        <input type="hidden" name="projectId" value="<%= project.id %>">
                        <input type="submit" value="Delete" class="bg-red-400 p-2 rounded cursor-pointer drop-shadow-md hover:bg-red-700 hover:text-white">
                    </form>
                </td>
            </tr>
            <% } %>
            <% i++; %>
        <% }); %>
</table>

<script>
    let edit = document.querySelectorAll('.editBtn');

    edit.forEach((btn) => {
        btn.addEventListener('click', async (e) => {
            let projectId = e.target.parentElement.children[0].value;

            let response = await fetch('/project/' + projectId, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    projectId: projectId
                })
            });
        });
    });

</script>