<section class="bg-white rounded-lg w-full drop-shadow-sm px-4 pt-3 pb-3">
    <h2 class="text-lg">Trello</h2>
    <hr class="py-1">
    <h3 class="pb-1 text-md font-semibold">Setup</h3>
    <% if (!(project?.categories?.planning?.services)) {%>
        <section id="notActivated" class="flex flex-row pb-1">
            <p>Activate Trello</p>
            <button class="rounded-md ml-auto w-20 shadow-sm" style="background-color: var(--sec-color);">
                <a href="/api/trello/activate/<%= project._id %>">Activate</a>
            </button>
        </section>
        <% } else { %>
            <section id="activated">
                <section class="pb-1">
                    <% if (user?.authentications?.trello?.token) {%>
                        <p>Already linked to Trello</p>

                        <% if (!(project?.categories?.planning?.services?.trello?.organizationId)) {%>
                            <section class="flex flex-row pb-2">
                                <p>Setup Trello project + board</p>
                                <button class="rounded-md ml-auto w-20 shadow-sm" style="background-color: var(--sec-color);">
                                    <a href="/trello/setup/<%= project._id %>">Setup</a>
                                </button>
                            </section>
                        <% } else {
                            let orgId = user?.authentications?.trello?.organizations 
                            let approved = false
                            orgId.forEach(id => {
                                if (id === project?.categories?.planning?.services?.trello?.organizationId) {
                                    approved = true
                                }
                            }) 
                            if (!approved) {%>
                                <section class="flex flex-row pb-2">
                                    <p>Join trello project</p>
                                    <button class="rounded-md ml-auto w-20 shadow-sm" style="background-color: var(--sec-color);">
                                        <a href="/trello/addMemberToOrg/<%= project._id %>">Join</a>
                                    </button>
                                </section>
                            <% } else {%>
                                <p>Already a member of the organization</p>
                            <% } 
                            }
                        } else {%>
                    <section class="flex flex-row pb-2">
                        <p>Link your Trello account to the project</p>
                        <button class="rounded-md ml-auto w-20 shadow-sm" style="background-color: var(--sec-color);">
                            <a href="/trello/<%= project._id %>">Link</a>
                        </button>
                    </section>
                    <% } %>
                </section>
                <% if (project?.categories?.planning?.services?.trello?.organizationId) {%>
                <section>
                    <hr>
                    <h3 class="text-md font-semibold pb-2 pt-3">Functionality</h3>
                    <section class="flex flex-row pb-2">
                        <p>Create new trello board</p>
                        <button id="boardBtn" class="rounded-md ml-auto w-28 shadow-sm" style="background-color: var(--sec-color);">Create Board</button>
                    </section>
                    <section class="flex flex-row pb-2">
                        <p>Create new trello card</p>
                        <button id="cardBtn" class="rounded-md ml-auto w-28 shadow-sm" style="background-color: var(--sec-color);">Create Card</button>
                    </section>

                    <section id="boardModal">
                        <section class="pt-2">
                            <%- include('../../../../../../trello/newBoard'); %>
                        </section>
                    </section>
                    <section id="cardModal">
                        <section class="pt-2">
                            <%- include('../../../../../../trello/newCard'); %>
                        </section>
                    </section>
                </section>
                <hr>
                <h3 class="pb-1 text-md font-semibold pt-3">Go to Trello board</h3>
                <section id="boardSection" class="flex flex-wrap justify-center pb-3">

                </section>
                <hr>
                <h3 class="pb-1 text-md font-semibold pt-3">Card list</h3>
                <section id="cardSection" class="flex flex-wrap justify-center">
                    <select id="list-board-select" name="trelloBoard" class="border-2 py-1 p-2 border-gray-200 bg-gray-50 w-full rounded-md">
                        <option id="list-select-option" value="" class="rounded-md">Select a board</option>
                    </select>
                    <section id="listBtns" name="trelloList" class="form-control m-1 p-2 rounded-md flex flex-wrap w-full justify-center">
                    </section>
                    <section id="card-list" name="trelloList" class="form-control m-1 rounded-md flex flex-row w-full">
                        <div id="cards-col-1" class="flex flex-col w-1/2 h-min pr-1"></div>
                        <div id="cards-col-2" class="flex flex-col w-1/2 h-min pl-1"></div>
                    </section>
                    <p id="noCards" class="hidden">No cards</p>
                </section>
            </section>
            <script src="/scripts/trelloBoardCardModal.js"></script>
            <% } %>
            <script src="/scripts/trelloMenuOpt.js"></script>
            <% } %>
</section>
